<!DOCTYPE html>
<html>
<head>
  <title>Certificates</title>
  <style>
    /* CSS for increasing font size of certificate links */
    ul li a {
      font-size: 18px; 
    }
    ul li span {
      font-size: 18px; 
    }
  </style>
</head>
<body>
  <h1>Certificates</h1>
  <ul>
    <li>
      <span>Python: </span>
      <a href="/certificates/Coursera%20JV734W98YCHR_all.pdf" target="_blank">Coursera JV734W98YCHR_all</a>
    </li>
    <li>
      <span>Python: </span>
      <a href="/certificates/Coursera%20KF4THXNJKNMY_with_honors.pdf" target="_blank">Coursera KF4THXNJKNMY_with_honors</a>
    </li>
    <!-- Add more certificates as needed -->
  </ul>
</body>
</html>
